
body
    {   
        padding: 0;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
table
    {   
        left: 50%;
        top: 50%;
        border-collapse: collapse;
        width: 800px;
        height: 200px;
        border: 1px solid black;
        box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
th{
        transition: all .2s ease-in;
        cursor: pointer;
    }
th,
td{
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
#header{
        background-color: white;
        color:  #fff;
    }
h1
    {
        font-weight: 600;
        text-align: center;
        background-color: darkcyan;
        color:white;
        padding: 10px 0px; 
    }
th:hover{
    background-color: seashell;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
/*media query*/
@media only screen and(max-width: 768px){
    table {
        width: 90%;
    }
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

 



